USE [CAJA_CHICADB]
GO
/****** Object:  Table [dbo].[REGISTRO_RECIBOS]    Script Date: 21/7/2023 08:52:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO_RECIBOS](
	[ROC] [int] NOT NULL,
	[FECHA_RECIBO] [varchar](50) NOT NULL,
	[SOLICITANTE] [varchar](100) NOT NULL,
	[MONTO] [float] NOT NULL,
	[CONCEPTO] [varchar](500) NOT NULL,
	[CANTIDAD] [varchar](50) NOT NULL,
 CONSTRAINT [PK__REGISTRO__CAFF71F2D20430DA] PRIMARY KEY CLUSTERED 
(
	[ROC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
